.container{
    background-color: rgb(41, 40, 40);
}
.container2{
    background-color: rgb(230, 227, 227);
}

.enlace{
    text-decoration: none;
    font-size: 30px;

}
.logo{
    align-items: center;
    border-radius: 50px;
}